/build/
/logs/
/coverage/
/reports/
/work/
/xsim.dir/
__pycache__/
*.pyc
*.vcd
*.fst
*.wlf
*.wdb
xvlog.log
xvlog.pb
xelab.log
xelab.pb
xsim.log
xsim.pb
xsim*.jou
xvlog*.log
modelsim.ini
transcript
.DS_Store

/Images/msim/
/Images/logs/*_compile.log
/Images/logs/*_run_*.backup.log
/Images/logs/modelsim_*.log
/Images/logs/powershell_version.log
/Images/logs/rtl_compile.log
/Images/terminal/terminal_rtl_compile.png
